<div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true" style="background-color: #ccc">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="text-center">Register</h4>
            </div>
                        
            <div class="modal-body  center-block">
                    <input ng-model="registerForm.userName" type="text" class="form-control input-lg" placeholder="User name">
                    <br/>

                    <input ng-model="registerForm.pass" type="password" class="form-control input-lg" placeholder="Password">
                    <br/>     

                    <input ng-model="registerForm.repeatPass" type="password" class="form-control input-lg" placeholder="Repeat password">
                    <br/>
                    
                    <div class="form-group">
                        <button class="btn btn-default btn-lg btn-block" ng-click="goToLogin()">Go to login</button>
                        <button class="btn btn-primary btn-lg btn-block" ng-click="register()">Register</button>                 
                    </div>

                    <div class="form-group">
                        <div class="alert alert-dismissable alert-danger" ng-repeat="errorMsg in errorMsgList">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" 
                                    ng-click="errorMsgHide(errorMsg)">&times;</button> {{errorMsg}}    
                        </div>

                        <div class="alert alert-success" ng-repeat="msg in successMsgList" >
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true" 
                                    ng-click="successMsgHide(msg)">&times;</button> {{msg}} 
                        </div>
                    </div>         
            </div>
    </div>
</div>