 <div>    
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Simulator</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="#/map"><i class="fa fa-map-marker"></i> Maps</a></li>
                    <li><a href="#/simulator"><i class="fa fa-globe"></i> Simulation</a></li>
                    <li><a href="#/settings"><i class="fa fa-cog"></i> Settings</a></li>
                    <li><a href="#/profile"><i class="fa fa-edit"></i> Profile</a></li>
                </ul>
            </div>
        </nav>            

        <div id="page-wrapper">		
            <div class="panel-body">  
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-plus-circle"></i> Edit scene </h3>
                    </div>

                    <div class="panel-body">
                        <div class="row">
 <div ng-hide="isStepActivate(1)">
                                <div class="col-xs-6">
                                    <label>Scene name</label>
                                    <input class="form-control" ng-model="map.name" />
                                </div>

                                <div class="col-xs-6">
                                    <label>Recommender settings</label>
                                    <select class="form-control">
                                        <option value="1">Recommender 1</option>
                                        <option value="2">Recommender 2</option>
                                        <option value="3">Recommender 3</option>
                                    </select>
                                </div>                            
                            </div>
                            
                            <div ng-hide="isStepActivate(2)">
                                <div class="col-xs-12">
                                    <h3>Limitations of the scene</h3>
                                </div>    

                                <div class="col-xs-6">
                                    </br>
                                    <label>Upper left corner: latitude</label>
                                    <input id="initPosLat" class="form-control" disabled/>
                                </div>

                                <div class="col-xs-6">
                                    </br>
                                    <label>Upper left corner: longitude</label>
                                     <input id="initPosLong" class="form-control" disabled/>
                                </div>        

                                <div class="col-xs-6">
                                    </br>
                                    <label>Lower right corner: latitude</label>
                                    <input id="initPosLat" class="form-control"  disabled/>
                                </div>

                                <div class="col-xs-6">
                                    </br>
                                    <label>Lower right corner: longitude</label>
                                     <input id="initPosLong" class="form-control" disabled/>
                                </div>                

                                <div class="col-xs-6">
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="opciones" id="upperLeftCorner" value="upperLeftCorner" checked>
                                        select upper left corner
                                      </label>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="radio">
                                      <label>
                                        <input type="radio" name="opciones" id="lowerRightCorner" value="lowerRightCorner">
                                        select lower right corner
                                      </label>
                                    </div>                                    
                                </div>

                                <div class="col-xs-12">       
                                    </br>         
                                    <label>City</label>  
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button">Go!</button>
                                        </span>
                                    </div>
                                </div>

                                <div class="col-xs-12"> 
                                    <br/>
                                    <div id="crearMapa" >
                                    </div>

                                    <script type="text/javascript">               
                                        var map = new ol.Map({
                                            target: 'crearMapa',
                                            layers: [
                                                new ol.layer.Tile({
                                                    source: new ol.source.MapQuest({layer: 'osm'})
                                                })   
                                            ],      
                                            view: new ol.View({            
                                                center: ol.proj.transform([-0.88824, 41.66991], 'EPSG:4326', 'EPSG:3857'),        
                                                zoom: 15           
                                            }),       
                                            controls: ol.control.defaults().extend([      
                                                new ol.control.FullScreen() 
                                            ])        
                                        });          

                                        map.on('singleclick', function(evt) { 
                                            $('#initPosLat').val(evt.coordinate[0]);
                                            $('#initPosLong').val(evt.coordinate[1]);
                                        });
                                    </script>                                
                                </div>                                    
                            </div>                            

                            <div ng-hide="isStepActivate(3)">
                                <div class="col-xs-12">
                                    <h3>Static items settings</h3>
                                </div>
                                
                                <div class="col-xs-6">
                                    <label>Define items form ...</label>
                                    <select ng-model="defineForm" class="form-control">
                                        <option value="loadFromFile">Load from file</option>
                                        <option value="setManually">Set manually</option>
                                    </select>
                                </div>
                                
                                <div class="col-xs-6">
                                    <label>Maximum number of items to display</label>
                                    <input ng-model="maximumStaticItemsToDisplay" class="form-control"/>
                                </div>
                                
                                <div ng-hide="loadFromFileSelected()">
                                    <!-- cuando cargamos los objetos desde un fichero de texto -->
                                    
                                    <div class="col-xs-12">
                                        </br>
                                        <label>Static items</label>    
                                        <input type="file" name='imgPerfil'>     
                                        <b>
                                            <i>* File containing these static objects on the map, that is, don't 
                                                changing geographical position during the simulation
                                            </i>
                                        </b>    
                                    </div>
                                </div>
                                
                                <div ng-hide="setManuallySelected()">
                                    <!-- cuando tenemos que definir los objetos de forma manual en el mapa -->
                                    
                                    <div class="col-xs-12">
                                        <nav>
                                          <ul class="pagination">
                                            <li class="active">
                                                <a href="#/map/newMap"><img src="../../images/new-map.png" height="16" width="16"/></a>
                                            </li>
                                            <li>
                                                <a href="#/map/newMap"><img src="../../images/new-map.png" height="16" width="16"/></a>
                                            </li>
                                            <li>
                                                <a href="#/map/newMap"><img src="../../images/new-map.png" height="16" width="16"/></a>
                                            </li>
                                            <li>
                                                <a href="#/map/newMap"><img src="../../images/new-map.png" height="16" width="16"/></a>
                                            </li>
                                          </ul>
                                        </nav>    
                                    </div>
                                    
                                    <div class="col-xs-12">
                                        <label>Item name</label>
                                        <input class="form-control"/>
                                    </div>    
                                </div>
     
                                <div class="col-xs-12">
                                        </br>
                                        <div id="staticItemsMap" >
                                        </div>

                                        <script type="text/javascript">               
                                            var map = new ol.Map({
                                                target: 'staticItemsMap',
                                                layers: [
                                                    new ol.layer.Tile({
                                                        source: new ol.source.MapQuest({layer: 'osm'})
                                                    })   
                                                ],      
                                                view: new ol.View({            
                                                    center: ol.proj.transform([-0.88824, 41.66991], 'EPSG:4326', 'EPSG:3857'),        
                                                    zoom: 15           
                                                }),       
                                                controls: ol.control.defaults().extend([      
                                                    new ol.control.FullScreen() 
                                                ])        
                                            });     
                                        </script>                                      
                                </div>
                                
     
                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th>Item name</th>
                                            <th>Item type</th>
                                            <th>Icon</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Canterbury</td>
                                            <td>Bar</td>
                                            <td><img src="../../images/new-map.png" height="16" width="16"/></td>
                                            <td>
                                                <button class="btn btn-danger fa fa-trash-o" 
                                                        data-toggle="modal" data-target="#deleteStaticItemModal"></button>
                                            </td> 
                                        </tr>
                                        
                                        <tr>
                                            <td>100 Montaditos</td>
                                            <td>Hotel</td>
                                            <td><img src="../../images/new-map.png" height="16" width="16"/></td>
                                            <td>
                                                <button class="btn btn-danger fa fa-trash-o" 
                                                        data-toggle="modal" data-target="#deleteStaticItemModal"></button>
                                            </td> 
                                        </tr>
                                    </tbody>
                                </table>    
     
                                <nav align="center">
                                    <ul class="pagination">
                                        <li class="disabled"><a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span></a>
                                        </li>
                                        <li class="active">
                                            <a href="#">1</a>
                                        </li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a href="#">4</a>
                                        </li>
                                        <li>
                                            <a href="#">5</a>
                                        </li>
                                        <li>
                                          <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                          </a>
                                        </li>
                                    </ul>
                                </nav>                                
                            </div>
                            
                            <div ng-hide="isStepActivate(4)">
                                <div class="col-xs-12">
                                    <h3>Dynamic items settings</h3>
                                </div>
                                
                                <div class="col-xs-12">
                                    <label>Maximum number of dynamic items to show</label>
                                    <input class="form-control" name='maxNumerDynamicsItemsShow'>
                                </div>
                                
                                <div class="col-xs-12">           
                                    </br>      
                                    <label>Dynamic items</label>
                                    <input type="file" name='imgPerfil'>      
                                    <b>
                                        <i>* File containing dynamic objects of the map, that is, the changing 
                                        geographic position during the simulation such as automobiles
                                        </i>
                                    </b>   
                                </div>
     
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary btn-block">Save</button>
                                </div>
                            </div>                            
                            
                            <nav align="center">
                              <ul class="pagination">
                                <li ng-class="{active:!isStepActivate('1')}"><a href="#/map/editScene" ng-click="setStep(1)">Step 1</a></li>
                                <li ng-class="{active:!isStepActivate('2')}"><a href="#/map/editScene" ng-click="setStep(2)">Step  2</a></li>
                                <li ng-class="{active:!isStepActivate('3')}"><a href="#/map/editScene" ng-click="setStep(3)">Step  3</a></li>
                                <li ng-class="{active:!isStepActivate('4')}"><a href="#/map/editScene" ng-click="setStep(4)">Step  4</a></li>
                              </ul>
                            </nav>
                        </div>     
                </div>                         
        </div>   
    </div>
</div>

        <!-- Delete static item Modal -->
        <div class="modal fade" role="dialog" id="deleteStaticItemModal">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
              </div>
                
              <div class="modal-body">
                <p>Are you sure you want to delete this static item?</p>
              </div>
                
              <div class="modal-footer">  
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Delete</button>  
              </div>
            </div>

          </div>
        </div>