 <div ng-init="loadData()">    
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/" ng-click="exit()">Simulator</a>
            </div>
                
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="#/map"><i class="fa fa-map-marker"></i> Maps</a></li>
                    <li><a href="#/simulator"><i class="fa fa-globe"></i> Simulation</a></li>
                    <li><a href="#/settings"><i class="fa fa-cog"></i> Settings</a></li>
                    <li><a href="#/profile"><i class="fa fa-edit"></i> Profile</a></li>
                    <li><a href="#/" ng-click="exit()"><i class="fa fa-power-off"></i> Exit</a></li>
                </ul>
            </div>
        </nav>

        <div id="page-wrapper">	
            <div class="alert alert-dismissable alert-danger" ng-repeat="errorMsg in errorMsgList">
                <button type="button" 
                        class="close" 
                        data-dismiss="alert" 
                        aria-hidden="true" 
                        ng-click="msgHide(errorMsg)">&times;</button>
                {{errorMsg}}
            </div>      
            
            <div class="alert alert-dismissable alert-success" ng-repeat="msg in msgList">
                <button type="button" 
                        class="close" 
                        data-dismiss="alert" 
                        aria-hidden="true" 
                        ng-click="msgSuccessHide(msg)">&times;</button>
                {{msg}}
            </div>
            
            <ul class="nav nav-tabs">
                <li><a data-toggle="tab" href="#map">Map search</a></li>
                <li class="active"><a data-toggle="tab" href="#/map/newMap">New map</a></li>
            </ul>

            <div class="panel-body">  
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-plus-circle"></i> Basic data </h3>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Name</label>
                                <input id="mapName" class="form-control" ng-model="map.name" />
                            </div>
                                    
                            <div class="col-xs-4">
                                <label>Type</label>
                                <select id="mapType" ng-model="map.type" class="form-control">
                                    <option value="private">Private</option>
                                    <option value="public">Public</option>
                                </select>
                            </div>
    
                            <div class="col-xs-4">
                                <label>State</label>
                                <select id="mapState" ng-model="map.state" class="form-control">
                                    <option value="draft">Draft</option>
                                    <option value="active">Active</option>
                                </select>
                            </div>
                            
                            <div class="col-xs-12">
                                </br>
                                <input id="btnSaveMap" type="submit" class="btn btn-primary" value="Save" ng-click="mapSave()">
                            </div>
                    </div>     
                </div>   

            </div>
 
                <div class="panel panel-primary" ng-hide="hideScene">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-plus-circle"></i> Create scene </h3>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div ng-hide="isStepActivate(1)">
                                <div class="col-xs-12">
                                    <h3>Step 1: Set scene name and select Recommender settings</h3>
                                </div>    
                                
                                <div class="col-xs-6">
                                    <label>Scene name</label>
                                    <input class="form-control" ng-model="scene.name" />
                                </div>

                                <div class="col-xs-6">
                                    <label>Recommender settings</label>
                                    <select class="form-control" ng-model="scene.recommenderSettings">
                                        <option ng-repeat="recommender in recommenderList" 
                                                value="{{recommender._id}}">{{recommender.poolName}}</option>
                                    </select>
                                </div>                            
                            </div>
                            
                            <div ng-hide="isStepActivate(2)">
                                <div class="col-xs-12">
                                    <h3>Step 2: Limitations of the scene</h3>
                                </div>    

                                <div class="col-xs-6">
                                    </br>
                                    <label>Upper left corner: latitude</label>
                                    <input id="initPosLat" class="form-control" ng-model="scene.latitudeULC" disabled/>
                                </div>

                                <div class="col-xs-6">
                                    </br>
                                    <label>Upper left corner: longitude</label>
                                     <input id="initPosLong" class="form-control" ng-model="scene.longitudeULC" disabled/>
                                </div>        

                                <div class="col-xs-6">
                                    </br>
                                    <label>Lower right corner: latitude</label>
                                    <input id="endPosLat" class="form-control" ng-model="scene.latitudeLRC" disabled/>
                                </div>

                                <div class="col-xs-6">
                                    </br>
                                    <label>Lower right corner: longitude</label>
                                     <input id="endPosLong" class="form-control" ng-model="scene.latitudeLRC" disabled/>
                                </div>                

                                <div class="col-xs-6">
                                    <div class="radio">
                                        <input type="radio" name="opciones" id="upperLeftCorner" value="upperLeftCorner" checked>
                                        select upper left corner
                                        </input>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="radio">
                                        <input type="radio" name="opciones" id="lowerRightCorner" value="lowerRightCorner">
                                        select lower right corner
                                        </input>
                                    </div>                                    
                                </div>

                                <div class="col-xs-6">       
                                    </br>         
                                    <label>City</label>  
                                    <div class="input-group">
                                        <input ng-model="scene.citySearchValue" type="text" class="form-control" placeholder="Search for...">
                                        <span class="input-group-btn">
                                            <button class="btn btn-default" type="button" ng-click="citySearch()">Go!</button>
                                        </span>
                                    </div>
                                </div>

                                <div ng-hide="cityList.length==0" class="col-xs-6">
                                    </br>
                                    <label>Places: </label>    
                                    <select ng-model="scene.selectedCity" name="selectedCity" class="form-control">
                                        <option ng-repeat="city in cityList" value={{city}}>{{city.display_name}}</option>
                                    </select>
                                </div>

                                <div class="col-xs-12"> 
                                    <br/>
                                    <div id="crearMapa" >
                                    </div>
                                    
                                    <script type="text/javascript">
                                         $(document).ready(function(){
                                             $("select[name=selectedCity]").change(function(){
                                                var searchCitySelected = $("select[name=selectedCity]").val();
                                                searchCitySelected = JSON.parse(searchCitySelected);
                                                limitMap.getView().setCenter(ol.proj.transform([parseFloat(searchCitySelected.lon), parseFloat(searchCitySelected.lat)], 'EPSG:4326', 'EPSG:3857'));
                                            });
                                        });                           
                                        
                                        var limitMap = new ol.Map({
                                            target: 'crearMapa',
                                            layers: [
                                                new ol.layer.Tile({
                                                    source: new ol.source.MapQuest({layer: 'osm'})
                                                })   
                                            ],      
                                            view: new ol.View({            
                                                center: ol.proj.transform([-0.88824, 41.66991], 'EPSG:4326', 'EPSG:3857'),        
                                                zoom: 15        
                                            }),       
                                            controls: ol.control.defaults().extend([      
                                                new ol.control.FullScreen() 
                                            ])        
                                        });

                                        limitMap.on('singleclick', function(evt) { 
                                             var appElement = document.querySelector('[ng-app=app]');
                                             var $scope = angular.element(appElement).scope();
                                             $scope = $scope.$$childHead; 
                                            
                                            var corner = $('input[name=opciones]:checked').val()
                                            var pos = ol.proj.transform(evt.coordinate,'EPSG:3857', 'EPSG:4326');
                                            
                                            if(corner == "upperLeftCorner"){
                                                $('#initPosLat').val(pos[0]);
                                                $scope.scene.latitudeULC = pos[0];
                                                
                                                $('#initPosLong').val(pos[1]);
                                                $scope.scene.longitudeULC = pos[1];
                                                
                                            }else if(corner == "lowerRightCorner"){
                                                $('#endPosLat').val(pos[0]);
                                                $scope.scene.latitudeLRC = pos[0];
                                                
                                                $('#endPosLong').val(pos[1]);
                                                $scope.scene.longitudeLRC = pos[1];
                                            }else{
                                                alert("Invalid option");
                                            }
                                        });
                                    </script>    
                                    
                                </div>                                    
                            </div>                            

                            <div ng-hide="isStepActivate(3)">
                                <div class="col-xs-12">
                                    <h3>Step 3: Static items settings</h3>
                                </div>
                                
                                <div class="col-xs-12">
                                    <label>Define items form ...</label>
                                    <select ng-model="scene.defineForm" class="form-control">
                                        <option value="loadFromFile">Load from file</option>
                                        <option value="setManually">Set manually</option>
                                    </select>
                                </div>
                                
                                <div ng-hide="loadFromFileSelected()">
                                    <!-- cuando cargamos los objetos desde un fichero de texto -->
                                    
                                    <div class="col-xs-12">
                                        </br>
                                        <label>Static items</label>    
                                        <input type="file" name="staticItemFile" id="staticItemFile" ng-model="scene.staticItemFile">     
                                        <b>
                                            <i>* File containing these static objects on the map, that is, don't 
                                                changing geographical position during the simulation
                                            </i>
                                        </b>
                                    </div>
                                
                                    <div class="col-xs-12">
                                        </br>
                                        <button type="button" 
                                                class="btn btn-success" 
                                                ng-click="loadStaticItemsFromFile()">
                                            Load static items
                                        </button>
                                    </div>
                                </div>
                                
                                <div ng-hide="setManuallySelected()">
                                    <!-- cuando tenemos que definir los objetos de forma manual en el mapa -->
                                    <div class="col-xs-3">
                                        </br>
                                         <label>Static item type</label>
                                         <select class="form-control" ng-model="newStaticItem.type">
                                            <option ng-repeat="staticItem in staticItemList" value="{{staticItem}}">
                                                {{staticItem.name}}
                                             </option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-xs-3">
                                        </br>
                                        <label>Item name</label>
                                        <input ng-model="newStaticItem.name" class="form-control"/>
                                    </div>    
                                    
                                    <div class="col-xs-3">
                                        </br>
                                        <label>Longitude</label>
                                        <input id="staticItemLong" class="form-control" ng-model="newStaticItem.longitude" disabled/>
                                    </div>
                                    
                                    <div class="col-xs-3">
                                        </br>
                                        <label>Latitude</label>
                                        <input id="staticItemLat" class="form-control" ng-model="newStaticItem.latitude" disabled/>
                                    </div>
                                    
                                    <div class="col-xs-12">
                                        </br>
                                        <button type="button" class="btn btn-success" onclick="saveStaticItem()" ng-click="saveStaticItemInScene()">Save item</button>
                                    </div>    
                                </div>
     
                                <div class="col-xs-12">
                                        </br>
                                        <div id="staticItemsMap">
                                        </div>

                                        <script type="text/javascript">
                                            var overlayList = {};
                                            var index = 0;
                                            
                                            var staticItemsMap = new ol.Map({
                                                target: 'staticItemsMap',
                                                layers: [
                                                    new ol.layer.Tile({
                                                        source: new ol.source.MapQuest({layer: 'osm'})
                                                    })   
                                                ],      
                                                view: new ol.View({            
                                                    center: ol.proj.transform([-0.88824, 41.66991], 'EPSG:4326', 'EPSG:3857'),        
                                                    zoom: 15           
                                                }),       
                                                controls: ol.control.defaults().extend([      
                                                    new ol.control.FullScreen() 
                                                ])        
                                            });
                                            
                                            staticItemsMap.on('singleclick', function(evt) { 
                                                var position = ol.proj.transform(evt.coordinate,'EPSG:3857', 'EPSG:4326');
                                                var appElement = document.querySelector('[ng-app=app]');
                                                var $scope = angular.element(appElement).scope();
                                                $scope = $scope.$$childHead; 
                                                
                                                if(overlayList[index]){
                                                    staticItemsMap.removeOverlay(overlayList[index]); 
                                                }
                                                
                                                var staticItemType = JSON.parse($scope.newStaticItem.type);
                                                overlayList[index] = new ol.Overlay({
                                                    position: evt.coordinate,
                                                    element: $('<img src="'+staticItemType.icon+'" class="img-circle">')
                                                    .css({marginTop: '-50%', marginLeft: '-50%', width: '40px', height: '40px', cursor: 'pointer'})
                                                });
                                                
                                                $('#staticItemLat').val(position[0]);
                                                $('#staticItemLong').val(position[1]);
                                                
                                                staticItemsMap.addOverlay(overlayList[index]);
                                                
                                                $scope.$apply(function () {
                                                    $scope.newStaticItem.latitude = position[0];    
                                                    $scope.newStaticItem.longitude = position[1];
                                                });
                                            });
                                            
                                            function saveStaticItem(){
                                                index++;
                                            }
                                        </script>                                      
                                </div>
                                
     
                                <table class="table table-striped" ng-show="staticItemListInScene.length>0">
                                    <thead>
                                        <tr>
                                            <th>Item name</th>
                                            <th>Item type</th>
                                            <th>Icon</th>
                                            <th>Options</th>
                                        </tr>
                                    </thead>
                                    <tbody ng-repeat="staticItemElement in staticItemListInScene">
                                        <tr>
                                            <td>{{staticItemElement.name}}</td>
                                            <td>{{staticItemElement.type.name}}</td>
                                            <td><img src="{{staticItemElement.type.icon}}" height="16" width="16"/></td>
                                            <td>
                                                <button class="btn btn-danger fa fa-trash-o" 
                                                        data-toggle="modal" data-target="#deleteStaticItemModal"
                                                        ng-click="selectStaticItemToDeleteFromScene(staticItemElement, $index)"></button>
                                            </td> 
                                        </tr>
                                    </tbody>
                                </table>    
     
                                <!--<nav align="center" ng-show="staticItemListInScene.length>0">
                                    <ul class="pagination">
                                        <li class="disabled"><a href="#" aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span></a>
                                        </li>
                                        <li class="active">
                                            <a href="#">1</a>
                                        </li>
                                        <li>
                                            <a href="#">2</a>
                                        </li>
                                        <li>
                                            <a href="#">3</a>
                                        </li>
                                        <li>
                                            <a href="#">4</a>
                                        </li>
                                        <li>
                                            <a href="#">5</a>
                                        </li>
                                        <li>
                                          <a href="#" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                          </a>
                                        </li>
                                    </ul>
                                </nav>-->

     
                            </div>
                            
                            <div ng-hide="isStepActivate(4)">
                                <div class="col-xs-12">
                                    <h3>Step 4: Dynamic items settings</h3>
                                </div>
                                
                                <div class="col-xs-12">
                                    <label>Define items form ...</label>
                                    <select ng-model="scene.defineFormFileDynamicItem" class="form-control">
                                        <option value="loadFromFileDynamicItem">Load from file</option>
                                        <option value="setManuallyDynamicItem">Set manually</option>
                                        <option value="setRandom">Random trajectory</option>
                                    </select>
                                </div>
                                
                                <div ng-hide="loadFromFileSelectedDynamicItem()">
                                    <!-- cuando cargamos los objetos desde un fichero de texto -->
                                    
                                    <div class="col-xs-12">           
                                        </br>      
                                        <label>Dynamic items</label>
                                        <input type="file" ng-model='scene.dynamicItemFile'>      
                                        <b>
                                            <i>* File containing dynamic objects of the map, that is, the changing 
                                            geographic position during the simulation such as automobiles
                                            </i>
                                        </b>   
                                    </div>
                                    <div class="col-xs-12">
                                        </br>
                                        <button type="button" 
                                                class="btn btn-success" 
                                                ng-click="loadDynamicItemsFromFile()">
                                            Load dynamic items
                                        </button>
                                    </div>
                                </div>
                                
                                <div ng-hide="setManuallySelectedDynamicItem()">                                
                                    </br>
                                    <div class="col-xs-4">
                                        </br>
                                        <label>Dynamic item type</label>
                                        <select class="form-control" ng-model="newDynamicItem.type">
                                            <option ng-repeat="dynamicItem in dynamicItemList" value="{{dynamicItem}}">
                                                {{dynamicItem.name}}
                                             </option>
                                        </select>
                                    </div>
                                    
                                    <div class="col-xs-4">
                                        </br>
                                        <label>Item name</label>
                                        <input ng-model="newDynamicItem.dynamicItemName" class="form-control"/>
                                    </div>

                                    <div class="col-xs-4">
                                        </br>
                                        <label>Item speed (km/h)</label>
                                        <input ng-model="newDynamicItem.itemSpeed" class="form-control"/>
                                    </div>

                                    <div class="col-xs-12">
                                        <table class="table table-striped" ng-show="newDynamicItem.route.length>0">
                                            <thead>
                                                <tr>
                                                    <th>Order</th>
                                                    <th>Longitude</th>
                                                    <th>Latitude</th>
                                                    <th>Optiones</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr ng-repeat="point in newDynamicItem.route track by $index">
                                                    <td>{{$index}}</td>
                                                    <td>{{point.long}}</td>
                                                    <td>{{point.lat}}</td>
                                                    <td>
                                                        <button class="btn btn-danger fa fa-trash-o" 
                                                                data-toggle="modal" data-target="#deletePointFromRouteModal"
                                                                ng-click="selectPointToDelete(point)"></button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>    

                                    <div class="col-xs-12">
                                        </br>
                                        <button type="button" class="btn btn-success" ng-click="saveDynamicItemInScene()">Save item</button>
                                    </div>
                                </div>

                                <div ng-hide="setRandomWay()">
                                    </br>
                                    <div class="col-xs-4">
                                        </br>
                                        <label>Dynamic item type</label>
                                        <select class="form-control" ng-model="newDynamicItem.type">
                                            <option ng-repeat="dynamicItem in dynamicItemList" value="{{dynamicItem}}">
                                                {{dynamicItem.name}}
                                             </option>
                                        </select>
                                    </div>

                                    <div class="col-xs-4">
                                        </br>
                                        <label>Number of items</label>
                                         <input ng-model="randomWay.numberDynamicItems" class="form-control"/>
                                    </div>  

                                    <div class="col-xs-4">
                                        </br>
                                        <label>Way type</label>
                                        <select class="form-control" ng-model="randomWay.wayType">
                                            <option value="motorway">motorway</option>
                                            <option value="trunk">trunk</option>
                                            <option value="primary">primary</option>
                                            <option value="secondary">secondary</option>
                                            <option value="tertiary">tertiary</option>
                                            <option value="unclassified">unclassified</option>
                                            <option value="residential">residential</option>
                                            <option value="service">service</option>
                                        </select>                                         
                                    </div>
                                    
                                     <div class="col-sm-12">
                                         </br>
                                        <button ng-show="loadRandomWay" type="button" class="btn btn-primary btn-block" ng-click="generateRandomWay()">Generate random way</button>
                                        
                                        <div ng-show="!loadRandomWay">
                                            <img src="/images/loader.gif">
                                            <label>Generating trajectory. This process can take several minutes. Please wait ...</label>     
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    </br>
                                    <div id="dynamicItemsMap">
                                    </div>

                                    <script type="text/javascript">
                                        var dynamicItemsMap = new ol.Map({
                                            target: 'dynamicItemsMap',
                                            layers: [
                                                new ol.layer.Tile({
                                                    source: new ol.source.MapQuest({layer: 'osm'})
                                                })   
                                            ],      
                                            view: new ol.View({            
                                                center: ol.proj.transform([-0.88824, 41.66991], 'EPSG:4326', 'EPSG:3857'),        
                                                zoom: 15           
                                            }),       
                                            controls: ol.control.defaults().extend([      
                                                new ol.control.FullScreen() 
                                            ])        
                                        });    
                                        
                                        dynamicItemsMap.on('singleclick', function(evt) {
                                            var pos = ol.proj.transform(evt.coordinate,'EPSG:3857', 'EPSG:4326');
                                            var appElement = document.querySelector('[ng-app=app]');
                                            var $scope = angular.element(appElement).scope();
                                            $scope = $scope.$$childHead; 
                                            
                                            var pointMap = new ol.Overlay({
                                                position: evt.coordinate,
                                                element: $('<img src="images/map-pin-md.png" class="img-circle" id="'+pos+'">')
                                                .css({marginTop: '-150%', marginLeft: '-50%', width: '40px', height: '40px', cursor: 'pointer'})    
                                            });
                                            
                                            dynamicItemsMap.addOverlay(pointMap);
                                            
                                            $scope.$apply(function () {
                                                $scope.newDynamicItem.route.push({
                                                    long: pos[1],  
                                                    lat: pos[0] 
                                                });
                                            });
                                        });
                                    </script>
                                </div>
                    
                                <div class="col-sm-12">
                                    <table class="table table-striped" ng-show="dynamicItemListInScene.length>0">
                                        <thead>
                                            <tr>
                                                <th>Item name</th>
                                                <th>Item type</th>
                                                <th>Speed</th>
                                                <th>Icon</th>
                                                <th>Options</th>
                                            </tr>
                                        </thead>
                                        <tbody ng-repeat="dynamicItem in dynamicItemListInScene">
                                            <tr>
                                                <td>{{dynamicItem.name}}</td>
                                                <td>{{dynamicItem.type.name}}</td>
                                                <td>{{dynamicItem.speed}}</td>
                                                <td><img src="{{dynamicItem.type.icon}}" height="16" width="16"/></td>
                                                <td>
                                                    <button class="btn btn-danger fa fa-trash-o" 
                                                            data-toggle="modal" data-target="#deleteDynamicItemModal"
                                                            ng-click="selectDynamicItemToDelete(dynamicItem)"></button>
                                                </td> 
                                            </tr>
                                        </tbody>
                                    </table>                                    
                                </div>
                                    
                                    
                                <div class="col-sm-12">
                                    <button type="button" class="btn btn-primary btn-block" ng-click="saveScene()">Save</button>
                                </div>
                            </div>                            
                            
                            <div class="col-xs-12">
                                <nav align="center">
                                  <ul class="pagination">
                                    <li ng-class="{active:!isStepActivate('1')}">
                                        <a href="#/map/newMap" ng-click="setStep(1)">Step 1</a>
                                    </li>
                                    <li ng-class="{active:!isStepActivate('2')}">
                                        <a href="#/map/newMap" ng-click="setStep(2)">Step  2</a>
                                    </li>
                                    <li ng-class="{active:!isStepActivate('3')}">
                                        <a href="#/map/newMap" ng-click="setStep(3)">Step  3</a>
                                    </li>
                                    <li ng-class="{active:!isStepActivate('4')}">
                                        <a href="#/map/newMap" ng-click="setStep(4)">Step  4</a>
                                    </li>
                                  </ul>
                                </nav>    
                            </div>
                            
                    </div>     
                </div>                         
        </div>   

                <div class="panel panel-primary table-responsive" ng-hide="hideScene" ng-hide="sceneList.length==0">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-list-alt"></i> List of scenes for this map</h3>
                    </div>
                    
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Scene name</th>
                                    <th>Creation date</th>
                                    <th>Recommender settings</th>
                                    <th>Number of static items</th>
                                    <th>Number of dynamic items</th>
                                    <th>City</th>
                                    <th></th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <tr ng-repeat="scene in sceneList">
                                    <td>{{scene.sceneName}}</td>
                                    <td>{{scene.creationDate}}</td>
                                    <td>{{scene.recommenderSettings}}</td>
                                    <td>{{scene.staticItemNumber}}</td>
                                    <td>{{scene.dynamicItemNumber}}</td>
                                    <td>{{scene.city}}</td>
                                    <td>
                                        <button class="btn btn-primary fa fa-pencil-square-o" 
                                                onclick="window.location.href='#/map/editScene'"></button>
                                        
                                        <button class="btn btn-danger fa fa-trash-o" 
                                                data-toggle="modal" 
                                                data-target="#deleteSceneModal"
                                                ng-click="selectSceneToDelete(scene)"></button>
                                    </td> 
                                </tr>
                            </tbody>
                        </table>
                    
                        
                    <!--<nav align="center">
                        <ul class="pagination">
                            <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li>
                              <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                              </a>
                            </li>
                        </ul>
                    </nav>-->
                </div>
            </div>
		</div>
	</div>	
</div>

        <!-- Delete map Modal -->
        <div class="modal fade" role="dialog" id="deleteSceneModal">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
              </div>
                
              <div class="modal-body">
                <p>Are you sure you want to delete this scene?</p>
              </div>
                
              <div class="modal-footer">  
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteScene()">Delete</button>  
              </div>
            </div>

          </div>
        </div>

        <div class="modal fade" role="dialog" id="deleteDynamicItemModal">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
              </div>
                
              <div class="modal-body">
                <p>Are you sure you want to delete this item?</p>
              </div>
                
              <div class="modal-footer">  
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteDynamicItemFromScene()">Delete</button>  
              </div>
            </div>

          </div>
        </div>

        <div class="modal fade" role="dialog" id="deletePointFromRouteModal">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
              </div>
                
              <div class="modal-body">
                <p>Are you sure you want to delete this point?</p>
              </div>
                
              <div class="modal-footer">  
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deletePointFromRoute()">Delete</button>  
              </div>
            </div>

          </div>
        </div>

        <!-- Delete static item Modal -->
        <div class="modal fade" role="dialog" id="deleteStaticItemModal">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Confirmation</h4>
              </div>
                
              <div class="modal-body">
                <p>Are you sure you want to delete this static item?</p>
              </div>
                
              <div class="modal-footer">  
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal" ng-click="deleteStaticItemFromScene()">Delete</button>  
              </div>
            </div>

          </div>
        </div>