 <div>    
    <div id="wrapper">
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#/">Simulator</a>
            </div>

            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav">
                    <li class="active"><a href="#/map"><i class="fa fa-plus-circle"></i> Maps</a></li>
                    <li><a href="#/simulator"><i class="fa fa-globe"></i> Simulation</a></li>
                    <li><a href="#/configurations"><i class="fa fa-edit"></i> Configurations</a></li>
                </ul>
            </div>
        </nav>            

        <div id="page-wrapper">		
            <ul class="nav nav-tabs">
                <li><a data-toggle="tab" href="#map">Map search</a></li>
                <li class="active"><a data-toggle="tab" href="#newMap">New map</a></li>
            </ul>

            <div class="panel-body">  
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title"><i class="fa fa-plus-circle"></i> Create new map for a simulation </h3>
                    </div>

                    <div class="panel-body">
                        <div class="row">
                            <div class="col-xs-4">
                                <label>Name</label>
                                <input class="form-control" ng-model="map.name" />
                            </div>
                                    
                            <div class="col-xs-4">
                                <label>Type</label>
                                <select ng-model="map.type" class="form-control">
                                    <option value="private">Private</option>
                                    <option value="public">Public</option>
                                </select>
                            </div>
    
                            <div class="col-xs-4">
                                <label>State</label>
                                <select ng-model="map.state" class="form-control">
                                    <option value="draft">Draft</option>
                                    <option value="active">Active</option>
                                </select>
                            </div>
                            
                            <div class="col-xs-12">
                                                                  
                                <b>
                                    <i>* Click on the map to indicate its initial position to start the simulation 
                                    or enter the coordinates manually
                                    </i>
                                </b>    
                            </div>  
                            
                            <div class="col-xs-12">
                                </br>                              
                                <label>Static objects</label>    
                                <input type="file" name='imgPerfil'>     
                                <b>
                                    <i>* File containing these static objects on the map, that is, don't 
                                        changing geographical position during the simulation
                                    </i>
                                </b>    
                            </div>  
                                      
                            <div class="col-xs-12">           
                                </br>      
                                <label>Dynamic objects</label>         
                                <input type="file" name='imgPerfil'>      
                                <b>
                                    <i>* File containing dynamic objects of the map, that is, the changing 
                                    geographic position during the simulation such as automobiles
                                    </i>
                                </b>   
                            </div>   
                    
                            <div class="col-xs-6">
                                </br>
                                <label>Initial position: latitude</label>
                                <input id="initPosLat" class="form-control" ng-model="map.name" />
                            </div>
                            
                            <div class="col-xs-6">
                                </br>
                                <label>Initial position: longitude</label>
                                 <input id="initPosLong" class="form-control" ng-model="map.name" />
                            </div>                    
                      
                            <div class="col-xs-12">       
                                </br>         
                                <label>City</label>  
                                <div class="input-group">
                                    <input type="text" class="form-control" placeholder="Search for...">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">Go!</button>
                                    </span>
                                </div>
                            </div>   
                        </div>
                            
                        <br/>
                               
                        <div id="crearMapa" >
                        </div>

                        <script type="text/javascript">               
                            var map = new ol.Map({
                                target: 'crearMapa',
                                layers: [
                                    new ol.layer.Tile({
                                        source: new ol.source.MapQuest({layer: 'osm'})
                                    })   
                                ],      
                                view: new ol.View({            
                                    center: ol.proj.transform([-0.88824, 41.66991], 'EPSG:4326', 'EPSG:3857'),        
                                    zoom: 15           
                                }),       
                                controls: ol.control.defaults().extend([      
                                    new ol.control.FullScreen() 
                                ])        
                            });          
                            
                            map.on('singleclick', function(evt) {
                                $('#initPosLat').val(evt.coordinate[0]);
                                $('#initPosLong').val(evt.coordinate[1]);
                            });
                        </script>
                                
                                <!--<script>
                                   document.getElementById('zoom-out').onclick = function() {
                                       var view = map.getView();
                                       var zoom = view.getZoom();
                                        view.setZoom(zoom - 1);
                                        };                                    
                                        <a id="export-png" class="btn" download="map.png"><i class="icon-download"></i> Export PNG</a> <br/>
                                        //funcion para cambiar el nivel de zoom teniendo en cuenta el select elegido

                                         //funcion para realizar busqueda del mapa y mostrarlo


                                          //crear un evento sobre createMapZoomLevel y asignar el nivel de zoom al mapa cuando este cambio
                               </script>-->
                           
                    </div>     
            </div>                      
              
                <button type="button" class="btn btn-primary btn-lg btn-block">Create map</button>
            </div>
        </div>   
    </div>
</div>